html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px
}

*,*:before,*:after {
    box-sizing: inherit
}

body {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    text-decoration: none
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

button {
    border-radius: 0
}

@font-face {
    font-family: proxima nova;
    src: url(//d1ayxb9ooonjts.cloudfront.net/fc3fa84bad39c1906ab5f12edfeeda77.otf)
}

@font-face {
    font-family: proxima nova semibold;
    src: url(//d1ayxb9ooonjts.cloudfront.net/847b2e2eaaeffe475d49ab8586ed0938.otf)
}

@font-face {
    font-family: proxima nova bold;
    src: url(//d1ayxb9ooonjts.cloudfront.net/ff059c404b36c9ba4b07629da5c63673.otf)
}

@font-face {
    font-family: proxima nova extrabold;
    src: url(//d1ayxb9ooonjts.cloudfront.net/80cc6392abe5652b5227ecff51ad2526.otf)
}

@font-face {
    font-family: bitly icon;
    src: url(//d1ayxb9ooonjts.cloudfront.net/8ee19d34de04fdb6669a4847b9eca8eb.woff)format("woff")
}

.subheader {
    border-bottom: .1rem solid #dbe0eb;
    color: #526281;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    padding-bottom: .8rem
}

.subheader .icon {
    margin-left: .5rem
}

.arrow-icon {
    font-family: bitly icon
}

.arrow-icon:before {
    content: '\e619'
}

.audience-icon {
    font-family: bitly icon
}

.audience-icon:before {
    content: '\e901'
}

.back_btn-icon {
    font-family: bitly icon
}

.back_btn-icon:before {
    content: '\e903'
}

.bitly-logo {
    font-family: bitly icon
}

.bitly-logo:before {
    content: '\e601'
}

.bitly-icon {
    font-family: bitly icon
}

.bitly-icon:before {
    content: '\e600'
}

.bitlinks_created-icon {
    font-family: bitly icon
}

.bitlinks_created-icon:before {
    content: '\e902'
}

.campaign-icon {
    font-family: bitly icon
}

.campaign-icon:before {
    content: '\e602'
}

.checkbox-icon {
    font-family: bitly icon
}

.checkbox-icon:before {
    content: '\e603'
}

.checkmark-icon {
    font-family: bitly icon
}

.checkmark-icon:after {
    content: '\e604'
}

.clicks-icon {
    font-family: bitly icon
}

.clicks-icon:after {
    content: '\e605'
}

.close-icon {
    font-family: bitly icon
}

.close-icon:before {
    content: '\e606'
}

.copy-icon {
    font-family: bitly icon
}

.copy-icon:before {
    content: '\e914'
}

.custom_bitlink-icon {
    font-family: bitly icon
}

.custom_bitlink-icon:before {
    content: '\e908'
}

.deeplink-icon {
    font-family: bitly icon
}

.deeplink-icon:before {
    content: '\e900'
}

.dragdrop-icon {
    font-family: bitly icon
}

.dragdrop-icon:before {
    content: '\e911'
}

.edit-icon {
    font-family: bitly icon
}

.edit-icon:before {
    content: '\e607'
}

.email-shared-icon {
    font-family: bitly icon
}

.email-shared-icon:before {
    content: '\e608'
}

.facebook-icon {
    font-family: bitly icon
}

.facebook-icon:before {
    content: '\e609'
}

.sm-network-icon {
    font-family: bitly icon
}

.sm-network-icon:before {
    content: '\e913'
}

.no-bitlinks-icon {
    font-family: bitly icon
}

.no-bitlinks-icon:before {
    content: '\e60a'
}

.no-clicks-icon {
    font-family: bitly icon
}

.no-clicks-icon:before {
    content: '\e60b'
}

.no_bitlinks-icon {
    font-family: bitly icon
}

.no_bitlinks-icon:before {
    content: '\e60a'
}

.search-icon {
    font-family: bitly icon
}

.search-icon:after {
    content: '\e60c'
}

.selector-icon {
    font-family: bitly icon
}

.selector-icon:before {
    content: '\e60d'
}

.server-error-icon {
    font-family: bitly icon
}

.server-error-icon:before {
    content: '\e60e'
}

.settings-icon {
    font-family: bitly icon
}

.settings-icon:before {
    content: '\e907'
}

.tag-icon {
    font-family: bitly icon
}

.tag-icon:before {
    content: '\e610'
}

.tagline-icon {
    font-family: bitly icon
}

.tagline-icon:before {
    content: '\e611'
}

.twitter-icon {
    font-family: bitly icon
}

.twitter-icon:before {
    content: '\e612'
}

.geolocation-icon {
    font-family: bitly icon
}

.geolocation-icon:before {
    content: '\e613'
}

.total-clicks-icon {
    font-family: bitly icon
}

.total-clicks-icon:before {
    content: '\e617'
}

.hamburger-icon {
    font-family: bitly icon
}

.hamburger-icon:before {
    content: '\e614'
}

.dark-traffic-icon {
    font-family: bitly icon
}

.dark-traffic-icon:before {
    content: '\e61a'
}

.no-connected-apps-icon {
    font-family: bitly icon
}

.no-connected-apps-icon:before {
    content: '\e61b'
}

.ameba-icon {
    font-family: bitly icon
}

.ameba-icon:before {
    content: '\e61c'
}

.google_plus-icon {
    font-family: bitly icon
}

.google_plus-icon:before {
    content: '\e61d'
}

.linkedin-icon {
    font-family: bitly icon
}

.linkedin-icon:before {
    content: '\e61e'
}

.livejournal-icon {
    font-family: bitly icon
}

.livejournal-icon:before {
    content: '\e61f'
}

.orkut-icon {
    font-family: bitly icon
}

.orkut-icon:before {
    content: '\e620'
}

.other-sites-icon {
    font-family: bitly icon
}

.other-sites-icon:before {
    content: '\e621'
}

.pinterest-icon {
    font-family: bitly icon
}

.pinterest-icon:before {
    content: '\e622'
}

.reddit-icon {
    font-family: bitly icon
}

.reddit-icon:before {
    content: '\e623'
}

.tumblr-icon {
    font-family: bitly icon
}

.tumblr-icon:before {
    content: '\e624'
}

.youtube-icon {
    font-family: bitly icon
}

.youtube-icon:before {
    content: '\e625'
}

.unlock-icon {
    font-family: bitly icon
}

.unlock-icon:before {
    content: '\e904'
}

.warning-icon {
    font-family: bitly icon
}

.warning-icon:before {
    content: '\e909'
}

.date-icon {
    font-family: bitly icon
}

.date-icon:before {
    content: '\e905'
}

.item-selected-icon {
    font-family: bitly icon
}

.item-selected-icon:before {
    content: '\e906'
}

.filter-icon {
    font-family: bitly icon
}

.filter-icon:before {
    content: '\e90a'
}

.binoculars-icon {
    font-family: bitly icon
}

.binoculars-icon:before {
    content: '\e90b'
}

.network-icon {
    font-family: bitly icon
}

.network-icon:before {
    content: '\e90c'
}

.personal-icon {
    font-family: bitly icon
}

.personal-icon:before {
    content: '\e90d'
}

.enterprise-icon {
    font-family: bitly icon
}

.enterprise-icon:before {
    content: '\e90e'
}

.ios-icon {
    font-family: bitly icon
}

.ios-icon:before {
    content: '\e90f'
}

.android-icon {
    font-family: bitly icon
}

.android-icon:before {
    content: '\e910'
}

.date-30-icon {
    font-family: bitly icon
}

.date-30-icon:before {
    content: '\e912'
}

.icon-star {
    font-family: bitly icon
}

.icon-star:before {
    content: '\e915';
    color: #11becf;
    padding-right: 1rem
}

.icon-important {
    font-family: bitly icon
}

.icon-important:before {
    content: '\e916';
    color: #f75248
}

.sort-icon {
    font-family: bitly icon
}

.sort-icon:before {
    content: '\e917'
}

.orb-modal.overlay {
    align-items: center;
    background-color: rgba(70,76,80,.6);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 130
}

.orb-modal .frame {
    background-color: #fff;
    border-radius: .3rem;
    overflow: auto;
    position: relative;
    width: 46rem
}

.orb-modal .frame h1 {
    color: #273144;
    font: 3.2rem/4rem proxima nova extrabold;
    margin: 0 0 1.6rem;
    padding-right: 1rem
}

.orb-modal .frame .modal-close {
    cursor: pointer;
    position: absolute;
    right: 2.4rem;
    top: 2.4rem;
    color: #273144;
    z-index: 1
}

.orb-modal .frame .modal-close .orb-icon svg {
    font-size: 2rem
}

.orb-modal .frame .orb-alert {
    margin-top: 3rem
}

.orb-modal .frame .image {
    border-radius: .3rem .3rem 0 0;
    width: 100%
}

.orb-modal .frame .image.image-padding {
    padding: 3rem 6rem 0
}

.orb-modal .frame .modal-body {
    padding: 2.4rem
}

.orb-modal .frame .modal-body .content {
    font: 1.6rem/2rem proxima nova;
    margin-right: 2rem;
    margin-bottom: 2.4rem;
    margin-top: 0
}

.orb-modal .frame .modal-body .content strong {
    font-family: proxima nova semibold
}

.orb-modal .frame .modal-body .content .copy-line {
    margin: 0;
    padding-bottom: 1.2rem
}

.orb-modal .frame .modal-buttons {
    display: flex;
    justify-content: flex-end
}

.orb-modal .frame .modal-buttons button {
    margin: 0 0 0 1.2rem
}

@media(max-width: 600px) {
    .orb-modal .frame {
        min-width:32rem;
        overflow: auto;
        width: 95%
    }
}

.orb-button {
    display: inline-flex;
    align-items: center;
    background: #2a5bd7;
    border-radius: .4rem;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: proxima nova semibold;
    font-size: 1.6rem;
    justify-content: center;
    letter-spacing: 0;
    min-height: 4rem;
    outline: none;
    text-align: center;
    padding: 0 1.6rem
}

.orb-button .orb-button-icon {
    margin-right: .8rem
}

.orb-button:disabled {
    background: #dbe0eb;
    cursor: not-allowed;
    border: none
}

.orb-button:enabled:hover,.orb-button:enabled.hover,.orb-button:hover:is(a) {
    background: #0c3ebb
}

.orb-button:focus,.orb-button:focus:is(a) {
    box-shadow: 0 0 0 .2rem #9db8f8
}

.orb-button.default {
    background: #2a5bd7;
    color: #fff;
    border: none;
    padding: 0 1.5rem
}

.orb-button.default.legacy-icon svg {
    fill: #fff
}

.orb-button.default:enabled:hover,.orb-button.default:hover:is(a) {
    background: #0c3ebb;
    border: none
}

.orb-button.default:disabled {
    background: #dbe0eb;
    color: #c3cbdc;
    border: none
}

.orb-button.default:disabled.legacy-icon svg {
    fill: #c3cbdc
}

.orb-button.secondary-brand {
    background: #fff;
    color: #2a5bd7;
    border: .1rem solid #2a5bd7;
    padding: 0 1.5rem
}

.orb-button.secondary-brand.legacy-icon svg {
    fill: #2a5bd7
}

.orb-button.secondary-brand:enabled:hover,.orb-button.secondary-brand:hover:is(a) {
    background: #edf2ff;
    color: #0c3ebb;
    border: .1rem solid #0c3ebb
}

.orb-button.secondary-brand:disabled {
    background: #f4f6fa;
    color: #c3cbdc;
    border: .1rem solid #dbe0eb
}

.orb-button.secondary-brand:disabled.legacy-icon svg {
    fill: #c3cbdc
}

.orb-button.tertiary-brand {
    background: 0 0;
    color: #2a5bd7
}

.orb-button.tertiary-brand.legacy-icon svg {
    fill: #2a5bd7
}

.orb-button.tertiary-brand:enabled:hover,.orb-button.tertiary-brand:hover:is(a) {
    background: #e8ebf2;
    color: #0c3ebb
}

.orb-button.tertiary-brand:disabled {
    background: #f4f6fa;
    color: #c3cbdc
}

.orb-button.tertiary-brand:disabled.legacy-icon svg {
    fill: #c3cbdc
}

.orb-button.primary-destructive {
    background: #de3121
}

.orb-button.primary-destructive:enabled:hover,.orb-button.primary-destructive:hover:is(a) {
    background: #c21506
}

.orb-button.primary-destructive:disabled {
    background: #dbe0eb
}

.orb-button.secondary-destructive {
    background: #fff;
    color: #de3121;
    border: .1rem solid #de3121;
    padding: 0 1.5rem
}

.orb-button.secondary-destructive.legacy-icon svg {
    fill: #de3121
}

.orb-button.secondary-destructive:enabled:hover,.orb-button.secondary-destructive:hover:is(a) {
    background: #ffe8e6;
    color: #c21506;
    border: .1rem solid #c21506
}

.orb-button.secondary-destructive:disabled {
    background: #f4f6fa;
    color: #c3cbdc;
    border: .1rem solid #dbe0eb
}

.orb-button.secondary-destructive:disabled.legacy-icon svg {
    fill: #c3cbdc
}

.orb-button.tertiary-destructive {
    background: 0 0;
    color: #de3121
}

.orb-button.tertiary-destructive.legacy-icon svg {
    fill: #de3121
}

.orb-button.tertiary-destructive:enabled:hover,.orb-button.tertiary-destructive:hover:is(a) {
    background: #e8ebf2;
    color: #c21506
}

.orb-button.tertiary-destructive:disabled {
    background: #f4f6fa;
    color: #c3cbdc
}

.orb-button.tertiary-destructive:disabled.legacy-icon svg {
    fill: #c3cbdc
}

.orb-button.neutral-primary {
    background: #e8ebf2;
    color: #273144
}

.orb-button.neutral-primary.legacy-icon svg {
    fill: #273144
}

.orb-button.neutral-primary:enabled:hover,.orb-button.neutral-primary:hover:is(a) {
    background: #dbe0eb
}

.orb-button.neutral-primary:disabled {
    background: #dbe0eb;
    color: #fff
}

.orb-button.neutral-primary:disabled.legacy-icon svg {
    fill: #fff
}

.orb-button.neutral-secondary {
    background: #fff;
    color: #273144;
    border: .1rem solid #dbe0eb;
    padding: 0 1.5rem
}

.orb-button.neutral-secondary.legacy-icon svg {
    fill: #273144
}

.orb-button.neutral-secondary:enabled:hover,.orb-button.neutral-secondary:hover:is(a) {
    background: #f4f6fa;
    border: .1rem solid #c3cbdc
}

.orb-button.neutral-secondary:disabled {
    background: #f4f6fa;
    color: #c3cbdc;
    border: .1rem solid #dbe0eb
}

.orb-button.neutral-secondary:disabled.legacy-icon svg {
    fill: #c3cbdc
}

.orb-button.neutral-tertiary {
    background: 0 0;
    color: #273144
}

.orb-button.neutral-tertiary.legacy-icon svg {
    fill: #273144
}

.orb-button.neutral-tertiary:enabled:hover,.orb-button.neutral-tertiary:hover:is(a) {
    background: #f4f6fa
}

.orb-button.neutral-tertiary:disabled {
    background: #f4f6fa;
    color: #c3cbdc
}

.orb-button.neutral-tertiary:disabled.legacy-icon svg {
    fill: #c3cbdc
}

.orb-button.gray-primary {
    background: #526281;
    color: #fff
}

.orb-button.gray-primary.legacy-icon svg {
    fill: #fff
}

.orb-button.gray-primary:enabled:hover,.orb-button.gray-primary:hover:is(a) {
    background: #dbe0eb
}

.orb-button.gray-primary:disabled {
    background: #dbe0eb;
    color: #fff
}

.orb-button.gray-primary:disabled.legacy-icon svg {
    fill: #fff
}

.orb-button.gray-secondary {
    background: #fff;
    color: #526281
}

.orb-button.gray-secondary.legacy-icon svg {
    fill: #526281
}

.orb-button.gray-secondary:enabled:hover,.orb-button.gray-secondary:hover:is(a) {
    background: #f4f6fa
}

.orb-button.gray-secondary:disabled {
    background: #f4f6fa;
    color: #f4f6fa
}

.orb-button.gray-secondary:disabled.legacy-icon svg {
    fill: #f4f6fa
}

.orb-button.gray-tertiary {
    background: 0 0;
    color: #526281
}

.orb-button.gray-tertiary.legacy-icon svg {
    fill: #526281
}

.orb-button.gray-tertiary:enabled:hover,.orb-button.gray-tertiary:hover:is(a) {
    background: #f4f6fa
}

.orb-button.gray-tertiary:disabled {
    background: #f4f6fa;
    color: #526281
}

.orb-button.gray-tertiary:disabled.legacy-icon svg {
    fill: #526281
}

.orb-button.primary-warning {
    background: #fff6d8;
    color: #273144
}

.orb-button.primary-warning.legacy-icon svg {
    fill: #273144
}

.orb-button.primary-warning:enabled:hover,.orb-button.primary-warning:hover:is(a) {
    background: #fbd44c
}

.orb-button.primary-warning:disabled {
    background: #dbe0eb;
    color: #fff
}

.orb-button.primary-warning:disabled.legacy-icon svg {
    fill: #fff
}

.orb-button.secondary-warning {
    background: #fff;
    color: #273144
}

.orb-button.secondary-warning.legacy-icon svg {
    fill: #273144
}

.orb-button.secondary-warning:enabled:hover,.orb-button.secondary-warning:hover:is(a) {
    background: #fff6d8
}

.orb-button.secondary-warning:disabled {
    background: #f4f6fa;
    color: #c3cbdc
}

.orb-button.secondary-warning:disabled.legacy-icon svg {
    fill: #c3cbdc
}

.orb-button.tertiary-warning {
    background: 0 0;
    color: #273144
}

.orb-button.tertiary-warning.legacy-icon svg {
    fill: #273144
}

.orb-button.tertiary-warning:enabled:hover,.orb-button.tertiary-warning:hover:is(a) {
    background: #fff6d8
}

.orb-button.tertiary-warning:disabled {
    background: #f4f6fa;
    color: #c3cbdc
}

.orb-button.tertiary-warning:disabled.legacy-icon svg {
    fill: #c3cbdc
}

.orb-button.orange {
    background: #ff6116;
    color: #fff
}

.orb-button.orange.legacy-icon svg {
    fill: #fff
}

.orb-button.orange:enabled:hover,.orb-button.orange:hover:is(a) {
    background: #d64f0d
}

.orb-button.orange:disabled {
    background: #dbe0eb
}

.orb-button.teal {
    background: #007c8c;
    color: #fff
}

.orb-button.teal.legacy-icon svg {
    fill: #fff
}

.orb-button.teal:enabled:hover,.orb-button.teal:hover:is(a) {
    background: #00525f
}

.orb-button.teal:disabled {
    background: #00a2b4
}

.orb-button.green {
    background: #40ad61;
    color: #fff
}

.orb-button.green.legacy-icon svg {
    fill: #fff
}

.orb-button.green:enabled:hover,.orb-button.green:hover:is(a) {
    background: #188238
}

.orb-button.green:disabled {
    background: #86d59f
}

.orb-button.small {
    padding: 0 .8rem;
    min-height: 3.2rem;
    font-size: 1.4rem
}

.orb-button.full {
    width: 100%
}

.orb-button.lg {
    font-family: proxima nova bold;
    font-size: 2rem;
    padding: 1.6rem 5.5rem
}

.orb-button .loader {
    margin: 0
}

.orb-button.legacy-icon svg {
    width: 1.5rem
}

.social-share .copy-url {
    display: flex;
    border: .1rem solid #dbe0eb;
    border-radius: .6rem;
    width: 100%;
    align-items: center;
    background-color: #fff;
    gap: .8rem;
    margin: 2.4rem 0
}

.social-share .copy-url h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #273144;
    flex: 1;
    text-align: left;
    font-weight: 700;
    font-family: proxima nova bold
}

.social-share .copy-url .copy-wrapper {
    display: flex;
    color: #2a5bd7;
    align-items: center
}

.social-share .copy-url .copy-wrapper span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: .8rem
}

.social-share .copy-url:hover {
    cursor: pointer;
    border-color: #273144
}

.social-share .social-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    justify-content: center;
    gap: 3rem
}

.social-share .social-links li {
    border-radius: .6rem
}

.social-share .social-links li a {
    display: flex;
    color: #273144
}

.social-share .social-links li a h4 {
    margin: 0 .8rem 0 1.2rem;
    font-family: proxima nova;
    font-weight: 400
}

.social-share .social-links li a .flag {
    color: #de3121
}

.social-share .social-links li a .chevron {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
    color: #71809f
}

.social-share .social-links li:hover {
    cursor: pointer;
    background-color: initial
}

.social-share .create-your-own {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -.5rem
}

.launchpad-web__image-button {
    position: relative
}

.launchpad-web__image-button__content img {
    width: 100%;
    height: auto
}

.launchpad-web__image-button__content .launchpad-web__image-button__bg-image {
    width: 100%;
    background-size: cover;
    background-position: 50%
}

.launchpad-web__image-button__content .launchpad-web__image-button__bg-image.aspect-ratio-1\:1 {
    padding-top: 100%
}

.launchpad-web__image-button__content .launchpad-web__image-button__bg-image.aspect-ratio-3\:2 {
    padding-top: 66.66667%
}

.launchpad-web__image-button__content .launchpad-web__image-button__bg-image.aspect-ratio-16\:9 {
    padding-top: 56.25%
}

.launchpad-web__image-button__content h3,.launchpad-web__image-button__content p {
    text-align: left
}

.launchpad-web__image-button__content h3 {
    margin-top: .8rem;
    margin-bottom: .2rem;
    font-size: 1.4rem;
    line-height: 1.75rem;
    font-weight: 600
}

.launchpad-web__image-button__content p {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.583rem;
    font-weight: 400
}

.launchpad-web__image-button__link {
    position: relative
}

.launchpad-web__image-button__link-icon {
    position: absolute;
    top: .8rem;
    right: .8rem;
    padding: .2rem;
    border-radius: .2rem;
    background-color: rgba(39,49,68,.8)
}

.launchpad-web__image-button__link-icon .orb-icon {
    display: flex;
    align-items: center;
    justify-content: center
}

.orb-avatar {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 3.75rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-right: 2rem;
    background-color: #f4f6fa;
    display: flex;
    justify-content: center;
    align-items: center
}

.orb-avatar:empty {
    background-color: initial
}

.orb-avatar .orb-icon {
    color: #96a3bd
}

.orb-avatar.card {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem
}

@media(min-width: 430px) and (max-width:669px) {
    .orb-avatar.card {
        width:3.2rem;
        height: 3.2rem;
        border-radius: 1.6rem
    }
}

@media(min-width: 849px) {
    .orb-avatar.card {
        width:3.2rem;
        height: 3.2rem;
        border-radius: 1.6rem
    }
}

@media(min-width: 680px) {
    .orb-avatar:not(.small):not(.card) {
        width:10rem;
        height: 10rem;
        border-radius: 5rem
    }

    .orb-avatar.small {
        display: flex;
        justify-content: center;
        align-items: center
    }

    .orb-avatar.image {
        background-color: initial
    }
}

body.viewport {
    min-height: 100vh
}

h1,h2,h3,h4,h5,h6,strong {
    font-family: proxima nova bold;
    font-weight: 400
}

.launchpad-web {
    position: relative;
    font-family: proxima nova;
    font-size: 1.4rem;
    overflow-wrap: anywhere
}

.launchpad-web .share-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.launchpad-web .share-container .share-wrapper {
    width: 100%;
    max-width: 68rem;
    display: flex;
    flex-direction: row-reverse;
    position: relative
}

.launchpad-web .share-container .share-wrapper .share .orb-icon {
    height: 2rem;
    width: 2rem
}

.launchpad-web .orb-modal .frame {
    border-radius: 1.6rem;
    max-width: 46rem
}

@media(max-width: 321px) {
    .launchpad-web .orb-modal .frame .modal-body {
        padding-right:0
    }
}

.launchpad-web .orb-modal .frame .modal-body .content {
    margin-right: 1rem
}

.launchpad-web .orb-modal .frame .modal-body h2 {
    margin: 0;
    margin-right: 3rem;
    text-align: center
}

@media(max-width: 600px) {
    .launchpad-web .orb-modal {
        justify-content:end
    }

    .launchpad-web .orb-modal .frame {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }
}

.launchpad-web h1 {
    font-size: 1.4rem
}

.launchpad-web.live {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh
}

@media(min-width: 680px) {
    .launchpad-web.live {
        min-height:calc(100vh - 4rem)
    }

    .launchpad-web.live.blur-content {
        -webkit-border-radius: 2rem 2rem 0 0;
        -moz-border-radius: 2rem 2rem 0 0;
        -khtml-border-radius: 2rem 2rem 0 0;
        border-radius: 2rem 2rem 0 0;
        max-width: 680px;
        margin: 0 auto
    }
}

.launchpad-web.live .content {
    flex: 1;
    display: flex;
    flex-direction: column
}

.launchpad-web.live .brand-logo {
    width: 100%;
    text-align: center;
    margin: 0 0 1.6rem
}

.launchpad-web.live .video-link__overlay .link-content {
    font-size: 1.8rem
}

.launchpad-web:not(.live) .orb-avatar:not(.image) {
    border: .1rem dashed #96a3bd
}

.launchpad-web.background {
    background-position: 50% 0;
    background-color: #fff
}

.launchpad-web .social-link-group {
    margin-top: 1.2rem;
    text-align: center
}

.launchpad-web .social-link-group>* {
    margin: 0 .8rem
}

.launchpad-web .social-link-group>* svg {
    height: 2.4rem!important;
    width: 2.4rem!important
}

.launchpad-web .social-link-group.bottom {
    margin-bottom: 1.2rem
}

.launchpad-web .content {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 680px;
    width: inherit
}

.launchpad-web .content .header p {
    margin: 0 auto;
    line-height: 2rem
}

.launchpad-web .content .links {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.6rem
}

.launchpad-web .content .links .link {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative
}

.launchpad-web .content .links .link .link-image {
    position: absolute;
    left: .4rem;
    top: 50%;
    transform: translateY(-50%);
    height: 4.6rem;
    width: 4.6rem;
    object-fit: cover;
    object-position: center
}

.launchpad-web .content .links .link__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.75rem .8rem
}

.launchpad-web .content .links .link__content.has-description {
    padding: 1.4rem .8rem
}

.launchpad-web .content .links .link__content.has-image {
    padding-inline:5.1rem}

.launchpad-web .content .links .link__content__title {
    font-size: 1.4rem;
    line-height: 150%
}

@media(min-width: 680px) {
    .launchpad-web .content .links .link__content__title {
        font-size:1.6rem
    }
}

.launchpad-web .content .links .link__content__description {
    font-size: 1.3rem;
    line-height: auto;
    font-weight: 400!important
}

@media(min-width: 680px) {
    .launchpad-web .content .links .link__content__description {
        font-size:1.4rem
    }
}

.launchpad-web .content .links .video-link {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%
}

.launchpad-web .content .links .video-link img {
    width: 100%
}

.launchpad-web .content .links .video-link__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    max-width: 100%
}

.launchpad-web .content .links .video-link__overlay svg {
    display: none;
    opacity: 0;
    height: 8rem;
    width: 8rem
}

.launchpad-web .content .links .video-link__overlay .link-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    padding: 1rem 2rem;
    max-width: 80%
}

.launchpad-web .content .links .video-link:hover .video-link__overlay {
    background-color: initial;
    justify-content: center;
    bottom: 0;
    right: 0
}

.launchpad-web .content .links .video-link:hover svg {
    display: block;
    opacity: 1
}

.launchpad-web .content .links .video-link:hover .link-content {
    display: none;
    opacity: 0
}

.launchpad-web .content .links .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 1rem
}

.launchpad-web .content .links .video-container__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.launchpad-web .brand-logo {
    bottom: 1rem
}

.launchpad-web .brand-logo svg {
    width: 2.4rem
}

.launchpad-web [class*=skeleton-text] {
    display: block;
    height: .8rem;
    background-color: #dbe0eb;
    width: 100%
}

.launchpad-web [class*=skeleton-text__button] {
    margin: 1rem auto;
    background-color: #96a3bd
}

.launchpad-web .skeleton-text__title {
    max-width: 10.4rem;
    margin: 2.4rem auto 0
}

.launchpad-web .skeleton-text__description {
    max-width: 13.8rem;
    margin: 1.6rem auto .8rem
}

.launchpad-web .skeleton-text__button__lg {
    max-width: 13.6rem
}

.launchpad-web .skeleton-text__button__md {
    max-width: 10rem
}

.launchpad-web .skeleton-text__button__sm {
    max-width: 8rem
}

.launchpad-web[class*=button] {
    max-width: 13.8rem;
    margin: 1.6rem auto 3.2rem
}

@media(min-width: 680px) {
    .launchpad-web.live {
        font-size:1.6rem
    }

    .launchpad-web.live .content .header p {
        line-height: 2.2rem
    }

    .launchpad-web.live .logo svg {
        width: 2.8rem
    }

    .bg-blur {
        background-position: 50%;
        background-size: 200%;
        padding: 4rem 0 0
    }

    .bg-blur:after {
        -webkit-backdrop-filter: blur(8.3rem);
        backdrop-filter: blur(8.3rem);
        filter: blur(0);
        content: '';
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0
    }

    .bg-blur>* {
        position: relative;
        z-index: 1
    }
}

.launchpad-web.classic {
    height: 56rem
}

.launchpad-web.classic.live .hero-bg {
    min-height: 100vh
}

.launchpad-web.classic .hero-bg {
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    position: absolute
}

.launchpad-web.classic .content {
    width: 100%
}

.launchpad-web.classic .content .live {
    min-height: 100vh
}

.launchpad-web.classic .content .header {
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 2.4rem
}

.launchpad-web.classic .content .header .orb-avatar {
    margin: 0 auto
}

@media(min-width: 680px) {
    .launchpad-web.classic.live .content .header h1 {
        font-size:1.6rem
    }
}

.launchpad-web.hero.preview {
    height: 56rem
}

.launchpad-web.hero.preview .content {
    width: 100%
}

.launchpad-web.hero.live .hero-bg {
    height: 25vh
}

.launchpad-web.hero .hero-bg {
    height: 25%;
    min-height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.launchpad-web.hero .content {
    position: relative;
    margin-top: -3.75rem;
    display: flex;
    flex-direction: column
}

.launchpad-web.hero .content .links {
    flex: 1
}

.launchpad-web.hero .content .header {
    text-align: center;
    padding: 0 3rem;
    margin-bottom: 2.4rem
}

.launchpad-web.hero .content .header .orb-avatar {
    margin: 0 auto;
    margin-bottom: 1rem
}

@media(min-width: 680px) {
    .launchpad-web.hero.live .content {
        margin-top:-5rem
    }

    .launchpad-web.hero.live .modal-body .content {
        margin-top: 0
    }

    .launchpad-web.hero.live .hero-bg h1 {
        font-size: 1.6rem
    }

    .launchpad-web.hero.live .hero-bg.hero-blur-bg {
        -webkit-border-radius: 2rem 2rem 0 0;
        -moz-border-radius: 2rem 2rem 0 0;
        -khtml-border-radius: 2rem 2rem 0 0;
        border-radius: 2rem 2rem 0 0
    }
}

.launchpad-web.pro.preview {
    height: 56rem
}

.launchpad-web.pro.preview .content {
    width: 100%
}

.launchpad-web.pro.live .hero-bg {
    height: 25vh
}

.launchpad-web.pro .social-link-group {
    margin-top: 2.4rem
}

.launchpad-web.pro .hero-bg {
    height: 25%;
    min-height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.launchpad-web.pro .content {
    position: relative
}

.launchpad-web.pro .content .header {
    margin-bottom: 2.4rem;
    text-align: left
}

.launchpad-web.pro .content .header .avatar-container {
    display: flex
}

.launchpad-web.pro .content .header .orb-avatar {
    margin-top: -3.75rem;
    flex: 0 0 7.5rem;
    margin-bottom: 1rem
}

.launchpad-web.pro .content .header h1 {
    margin-top: 1.5rem;
    margin-bottom: .8rem
}

.launchpad-web.pro .header-content {
    width: 100%
}

.launchpad-web.pro .header-content .skeleton-text__title,.launchpad-web.pro .header-content .skeleton-text__description {
    margin-left: 0;
    margin-right: 0
}

@media(min-width: 680px) {
    .launchpad-web.pro.live .content .header h1 {
        font-size:1.6rem;
        margin-top: 2rem
    }

    .launchpad-web.pro.live .content .header .orb-avatar {
        margin-top: -5rem;
        flex: 0 0 10rem
    }

    .launchpad-web.pro.live .hero-bg.hero-blur-bg {
        -webkit-border-radius: 2rem 2rem 0 0;
        -moz-border-radius: 2rem 2rem 0 0;
        -khtml-border-radius: 2rem 2rem 0 0;
        border-radius: 2rem 2rem 0 0
    }
}

.launchpad-web.frame.preview {
    height: 56rem
}

.launchpad-web.frame.preview .content {
    width: 100%
}

.launchpad-web.frame .share-container .share-wrapper .share {
    margin: .8rem
}

.launchpad-web.frame .share {
    top: 1rem;
    margin: .8rem
}

.launchpad-web.frame.live .hero-bg {
    height: 25vh
}

.launchpad-web.frame .hero-bg {
    height: 25%;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 2rem
}

.launchpad-web.frame .hero-bg .orb-avatar {
    flex: 0 0 7.5rem;
    margin-right: 0
}

.launchpad-web.frame .content {
    position: relative;
    margin-top: -3.75rem
}

.launchpad-web.frame .content .header {
    margin-bottom: 2.4rem;
    justify-content: center;
    text-align: center
}

.launchpad-web.frame .content .header .description {
    margin-top: 3.75rem
}

.launchpad-web.frame .content .header .social-header {
    margin-top: 1.2rem
}

.launchpad-web.frame .content .header .social-header>* {
    margin: 0 .4rem
}

.launchpad-web.frame .content .links {
    margin-top: 2.5rem
}

@media(min-width: 680px) {
    .launchpad-web.frame.live .hero-bg h1 {
        font-size:1.6rem
    }

    .launchpad-web.frame.live .hero-bg .orb-avatar {
        flex: 0 0 10rem
    }
}
